@import url("./fonts/fonts.css");

*, *:before, *:after {
    box-sizing: border-box;
    font-family: "Roboto mono", monospace;
}

body {
    all: unset;
    position: relative;
}

#main {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: #4e4e4e;
    display: grid;
    place-content: center;
    padding: 3vh;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: lightblue;

    transition: scale .350s ease;
}

.card:is(.active-x, .active-y) {
    background-color: color-mix(in srgb-linear, lightblue, yellow);
}

.active-x {
    scale: -1 1;
}

.active-y {
    scale: 1 -1;
}


.side-panel {
    display: grid;
    position: fixed;
    background-color: color-mix(in oklab, white, black);
    max-width: 30vw;
    min-width: 230px;
    top: 2vh;
    left: 2vw;
    border-top-left-radius: 10px;
    grid-template-rows: 1fr;
    transition: grid-template-rows .3s ease;
}

.side-panel__form {
    display: flex;
    flex-flow: column;
    gap: 30px;
    transition: margin .4s;
    margin: 30px;
}

.side-panel__label {
    display: flex;
    flex-flow: column;
    font-size: 22px;
    gap: 10px;
    line-height: 1.3em;
}

.side-panel__input {
    line-height: 1.5em;
    font-size: 20px;

    border: none;
    outline: 1px lightblue;
    background-color: color-mix(in oklab, white, #626263FF);
    cursor: pointer;
}

.side-panel__submit {
    transition: color .35s ease,
    background-color .35s ease;
}

.side-panel__submit:active, .side-panel__submit:focus {
    background-color: color-mix(in oklab, color-mix(in oklab, white, #626263FF), white);
}

.side-panel__submit:hover {
    background-color: color-mix(in oklab, color-mix(in oklab, white, #626263FF), black);
    color: wheat;
}

#configVisibility {
    position: fixed;
    cursor: pointer;
    padding: 0;
    border-radius: 100%;
    font-size: 20px;
    line-height: .7em;
    border: none;
    outline: none;
    transition: rotate .35s ease;
    top: 2vh;
    left: 2vw;
}

#configVisibility[aria-expanded="false"] {
    rotate: 135deg;
}

.hidden {
    grid-template-rows: 0fr;
}

.hidden > form {
    overflow: hidden;
    margin: 0;
}

.hidden > #info {
    display: none;
}

/**/

#info {
    place-self: end;
    cursor: pointer;
    padding: 0;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: .7em;
    background-color: black;
}

#info > svg {
    color: buttonface;
}


.side-panel__info {
    padding: 10px;
    font-size: 20px;
    line-height: 1.4;
    background-color: whitesmoke;
    max-width: 300px;
    display: none;
}

.side-panel__info[data-show] {
    display: block;
}

.side-panel__info h4 {
    margin: 0;
    padding: 2px 2px 2px 5px;
    background-color: #e6e6e6;
}

.side-panel__info h4:not(:first-of-type){
    margin-top: 10px;
}

.side-panel__article {
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}

.side-panel__article p {
    margin: 0;
}

.side-panel__article img {
    width: 100px;
}

.side-panel__article:nth-of-type(2) {
    counter-set: moves;
}

.side-panel__article:nth-of-type(2) p {
    counter-increment: moves;
}

.side-panel__article:nth-of-type(2) p:before {
    content: counter(moves) ". ";
}
